gunicorn==21.2.0
flask==3.0.2
flask-cors==4.0.0

# Avoid build failure: use prebuilt wheel for blis
blis==0.7.9
spacy==3.7.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl

pdfplumber==0.10.3
python-docx==0.8.11

sentence-transformers==2.5.1

nltk==3.8.1
scikit-learn==1.4.0
numpy==1.26.4
scipy==1.12.0
torch==2.2.1
